<%- include("header"); -%>

<h1 class="display-4">Dashboard</h1>

<p class="lead mb-3"><mark>Welcome, <%= user.name %></mark></p>

<hr>

<a class="btn btn-primary btn-lg" href="/users/logout" role="button">Logout</a>

<%- include("footer"); -%>