<%- include("header"); -%>

<!-- Display error message -->
<% if(locals.messages.error) { %>
<div class="alert alert-dismissible alert-danger">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong> <%= messages.error %> </strong>
</div>
<% } %>

<form action="/register" method="POST" class="mb-2">
  <fieldset>

    <legend>
      <i class="fas fa-user-plus"></i>
      Register
    </legend>

    <div class="form-group">
      <label for="name">Full Name</label>
      <input type="text" class="form-control" name="name" id="name" placeholder="Enter name..." required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" id="email" placeholder="Enter email..." required>
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Enter password..."
        required>
    </div>

    <button type="submit" class="btn btn-primary btn-lg btn-block">Register</button>

  </fieldset>
</form>

<span class="lead">Have an account? <a href="/login">Login</a></span>

<%- include("footer"); -%>